# Changes must also be made in the following files:
# ./environment.yml
# ./meta.yaml
# ./pyproject.toml
# ./setup.py

unicorn-fy>=0.16.1
unicorn-binance-local-depth-cache>=2.8.0
unicorn-binance-rest-api>=2.8.0
unicorn-binance-trailing-stop-loss>=1.1.0
unicorn-binance-websocket-api>=2.10.2
